
@{
    ViewBag.Title = "Mvc de Model Validation Kullanımı";
}

<h2>Mvc de Model Validation Kullanımı</h2>

<p>
    Model validation kullanıcıdan alınacak verilerin veri tiplerini doğrulamak için kullanılır.
</p>

<a href="/MVC05ModelValidation/YeniUye">Yeni Uye</a>