
@{
    ViewBag.Title = "Web.Config Dosyasından Değer Okuma";
}

<h2>Web.Config Dosyasından Değer Okuma</h2>

<p>
    Mvc ile config dosyasına yazacağımız özel verilere erişip uygulama içerisinde kullanabiliriz.
</p>

<p class="alert alert-warning">
    @Html.Raw(ViewBag.Mesaj)
</p>