
@{
    ViewBag.Title = "MVC Filtre Kullanımı";
}

<h2>MVC Filtre Kullanımı</h2>

<h4>
    Action filters : Özel Filtre Kullanımı
</h4>

<a href="/MVC15FiltersUsing/UyelikBilgilerim">Uyelik Bilgilerim</a>

<hr />


<a href="/MVC15FiltersUsing/UyeGuncelle">Uye Bilgi Güncelle</a>