<li>
    <a href="/MVC08Partial" class="nav-link">Partial</a>
</li>
<li>
    <a href="/MVC09ViewResults" class="nav-link">ViewResults</a>
</li>
<li>
    <a href="/MVC10FileUpload" class="nav-link">FileUpload</a>
</li>